# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\C++\Connect 4 - Willie Wang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
